<!DOCTYPE html>
<html lang="en">

<head>
	<script src="https://kit.fontawesome.com/5b61822651.js" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="../static/style.css">
</head>

<body>

	<nav>
		<ul class="nav-list">
			<li class="nav-items"><a href="/"><i class="fa-solid fa-terminal"></i></a></li>
			<li class="nav-items"><a href="/">Home</a></li>
			<li class="nav-items"><a href="/signin">Sign-in</a></li>
			<li class="nav-items"><a href="/signup">Sign-up</a></li>
			<li class="nav-items"><a href="/about">About</a></li>
			<li class="nav-items"><button class="nav-btn">Logout</button></li>
		</ul>
	</nav>
  <div>
    {% block content %}
  {% endblock content %}
  </div>
  
 
</body>


</html>