{% extends 'home.html' %}
{% block title %}
    {{title}}
{% endblock title %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <link rel="stylesheet" href="/static/about.css">
</head>
<body>
    <div class="row" >
        <div class="containers col-lg-6 col-md-6">
          
          <div class="pic"></div>
          
          <div class="box1"></div>
          <div class="box2"></div>
          
          <div class="social1">
            <i class="fa fa-facebook" aria-hidden="true"></i> 
          </div>
          <div class="social2">
          <i class="fa fa-dribbble" aria-hidden="true"></i>
          </div>
          <div class="social3">
            <i class="fa fa-codepen" aria-hidden="true"></i>
          </div>
        </div>
        
      
        </div> 
        <div >
            <center><h1 class="contentHead">ABOUT ME</h1></center>
            
            <h2>Hi Folks, <br/><br/>
               I'm a Freakin frontend developer,
              <p><span style="text-align:right; color:#000000; font-size:18px;">* No matter what u say, that gal is sorta cute.</span></p>
            </h2>
          </div>  
        
</body>
</html>
{% endblock content %}